{% extends 'base.html.twig' %}

{% block title %}Nouvelle Caracteristique{% endblock %}

{% block body %}
    <h1>Creer nouvelle caracteristique</h1>

    {{ include('characteristic/_form.html.twig') }}

   
{% endblock %}
